<!DOCTYPE html>
<html lang="es" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>AngularJS Standalone</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <style>
            body {
                font-family: Arial;
                margin: 40px;
            }
            button {
                padding: 10px;
                cursor: pointer;
            }
        </style>
    </head>
    <body ng-controller="MainCtrl as vm">
        <h2>AngularJS corriendo en navegador</h2>
        <input type="text" ng-model="vm.nombre" placeholder="Escribe tu nombre">
        <br><br>
        <button ng-click="vm.saludar()">Saludar</button>
        <p>{{ vm.mensaje}}</p>
        <script>
                    'use strict';
                    var app = angular.module('app', []);
                    app.controller('MainCtrl', function () {

                        var vm = this;
                        vm.nombre = "";
                        vm.mensaje = "Esperando...";

                        vm.saludar = function () {
                            alert("AngularJS está funcionando correctamente!");

                        };
                    });

        </script>
    </body>
</html>